.index-root
  padding-top (100% / 1920 * 400)

  +tablet()
    padding-top 0

  &__contacts
    margin-top (100% / 25 * 13 / 982 * 234)

    +mobile()
      margin-left auto
      margin-top (100% / 608 * 106 * 2)

  &__about
    margin-bottom (100% / 25 * 13 / 982 * 234)

    +tablet()
      margin-bottom (100% / 982 * 234)
