include ../../node_modules/bemto.pug/bemto

+b.POPUP.cookie-popup(
  id="cookie",
  :closeButton="false",
  @onManualClose="onClosePopup",
  ref="popup"
)
  +e.wrapper
    +e.inner.width_15
      +e.body
        <svg class="cookie-popup__svg" viewBox="0 0 139 8" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16.686 5.714c0-1.268-1.086-2.285-2.286-2.285H10.97a1.146 1.146 0 01-1.143-1.143c0-.629.515-1.143 1.143-1.143H14.4c.628 0 1.143.514 1.143 1.143h1.143C16.65 1.017 15.623 0 14.4 0H10.97c-1.28 0-2.285 1.074-2.285 2.286A2.292 2.292 0 0010.97 4.57H14.4c.628 0 1.143.515 1.143 1.143 0 .629-.515 1.143-1.143 1.143H10.97a1.146 1.146 0 01-1.143-1.143H8.686C8.72 7.006 9.726 8 10.97 8H14.4c1.28 0 2.286-1.074 2.286-2.286zM17.372 6.857V8h8V6.857h-8zM60.8 6.857V8h8V6.857h-8zM78.171 6.857V8h8V6.857h-8zM34.057 1.143V0h-8v1.143h3.429V8h1.143V1.143h3.428zM35.886 0h-1.143v8h1.142V4.571H41.6V8h1.143V0H41.6v3.429h-5.715V0zM43.429 8h1.143V0h-1.143v8zM104.229 8h1.142V0h-1.142v8zM0 8h1.143V0H0v8zM50.286 8h1.142V0h-1.142v8zM111.086 8h1.143V0h-1.143v8zM6.857 8H8V0H6.857v8zM48.571 8h1.143V0h-1.143v8zM109.372 8h1.142V0h-1.142v8zM5.143 8h1.143V0H5.143v8zM46.857 8H48V0h-1.143v8zM107.657 8h1.143V0h-1.143v8zM3.429 8h1.143V0H3.429v8zM45.143 8h1.143V0h-1.143v8zM105.943 8h1.143V0h-1.143v8zM1.714 8h1.143V0H1.714v8zM60.114 5.714c0-1.268-1.085-2.285-2.285-2.285H54.4a1.146 1.146 0 01-1.143-1.143c0-.629.514-1.143 1.143-1.143h3.428c.63 0 1.143.514 1.143 1.143h1.143C60.08 1.017 59.051 0 57.83 0H54.4c-1.28 0-2.286 1.074-2.286 2.286A2.292 2.292 0 0054.4 4.57h3.428c.63 0 1.143.515 1.143 1.143 0 .629-.514 1.143-1.142 1.143H54.4a1.146 1.146 0 01-1.143-1.143h-1.143C52.15 7.006 53.154 8 54.4 8h3.428c1.28 0 2.286-1.074 2.286-2.286z" fill="#DADADA"/><path fill-rule="evenodd" clip-rule="evenodd" d="M75.2 0c1.223 0 2.252 1.017 2.286 2.286V8h-1.143V5.714h-5.714V8h-1.143V2.286C69.486 1.074 70.492 0 71.772 0H75.2zm1.143 2.286c0-.629-.514-1.143-1.143-1.143h-3.428c-.629 0-1.143.514-1.143 1.143V4.57h5.714V2.286z" fill="#DADADA"/><path d="M89.143 0c-1.28.034-2.286 1.051-2.286 2.286v3.428A2.292 2.292 0 0089.143 8h3.428c1.28 0 2.286-1.074 2.286-2.286h-1.143c0 .629-.514 1.143-1.143 1.143h-3.428A1.146 1.146 0 0188 5.714V2.286c0-.629.514-1.143 1.143-1.143h3.428c.629 0 1.143.514 1.143 1.143h1.143C94.823 1.017 93.794 0 92.57 0h-3.428z" fill="#DADADA"/><path fill-rule="evenodd" clip-rule="evenodd" d="M103.543 7.189V8h-.811l-2.286-2.286h-3.76V8h-1.143V0h5.714c1.2 0 2.286 1.017 2.286 2.286v1.143c0 .971-.64 1.851-1.589 2.171l1.589 1.589zm-2.286-2.618c.629 0 1.143-.514 1.143-1.142V2.286c0-.629-.514-1.143-1.143-1.143h-4.571V4.57h4.571z" fill="#DADADA"/><path d="M116.914 4.95l-2.857-3.133V8h-1.143V0h1.143l2.857 3.025L119.771 0h1.143v8h-1.143V1.817l-2.857 3.132zM122.743 1.143h6.857V0h-8v8h8V6.857h-6.857V4.571h5.714V3.43h-5.714V1.143zM133.714 8h1.143V6.857h-1.143V8zM137.143 2.286c0-.629-.514-1.143-1.143-1.143h-3.429c-.628 0-1.142.514-1.142 1.143h-1.143c0-1.212 1.005-2.286 2.285-2.286H136c1.2 0 2.286 1.017 2.286 2.286 0 1.198-.984 2.262-2.244 2.285H136c-.629 0-1.143.515-1.143 1.143h-1.143c0-1.198.984-2.262 2.243-2.285H136c.629 0 1.143-.515 1.143-1.143z" fill="#DADADA"/>
        </svg>

        +e.description
          | This site uses cookies to give you the best experience on the site. By continuing to use our site, you consent to the processing of cookies.

        +e.submit-wrapper
          +e.BUTTON.submit(
            type="button",
            @click="agreeClick"
          ) Is  not a crime.
